/Projetos/Portugol-Nucleo/dist/
/Projetos/Portugol-Nucleo/build/
/Projetos/Portugol-Nucleo/nbproject/private/
/Projetos/Portugol-Relator-Erros/dist
/Projetos/Portugol-Relator-Erros/build
/Projetos/Portugol-Relator-Erros/nbproject/private/
/Projetos/Portugol-Integracao/dist/
/Projetos/Portugol-Integracao/build/
/Projetos/Portugol-Integracao/nbproject/private/
/Projetos/Portugol-WebService/dist
/Projetos/Portugol-WebService/build
/Projetos/Portugol-WebService/nbproject/private/
/Projetos/Portugol-Studio/dist/
/Projetos/Portugol-Studio/build/
/Projetos/Portugol-Studio/nbproject/private/
/Projetos/Portugol-Integracao-CSharp/Portugol-Integracao-CSharp/bin/
/Projetos/Portugol-Integracao-CSharp/Portugol-Integracao-CSharp/obj/
/Projetos/Portugol-Integracao-CSharp/CompiladorIDL/bin/
/Projetos/Portugol-Integracao-CSharp/CompiladorIDL/obj/
/Projetos/Portugol-Plugins/nbproject/private/
/Projetos/Portugol-Plugins/build/
/Projetos/Portugol-Plugins/dist/
/Projetos/Portugol-Studio-Plugins/nbproject/private/
/Projetos/Portugol-Studio-Plugins/build/
/Projetos/Portugol-Studio-Plugins/dist/
/Projetos/Portugol-Utils/nbproject/private/
/Projetos/Portugol-Utils/build/
/Projetos/Portugol-Utils/dist/
/Projetos/Portugol-Studio-Inicializador/nbproject/private/
/Projetos/Portugol-Studio-Inicializador/build/
/Projetos/Portugol-Studio-Inicializador/dist/
/Projetos/Portugol-Instalador/arquivos/compartilhados/
/Projetos/TesteReflection/nbproject/private/
/Projetos/TesteReflection/build/