/Codigo-Fonte/Portugol-Nucleo/dist/
/Codigo-Fonte/Portugol-Nucleo/build/
/Codigo-Fonte/Portugol-Nucleo/nbproject/private/
/Codigo-Fonte/Portugol-Relator-Erros/dist
/Codigo-Fonte/Portugol-Relator-Erros/build
/Codigo-Fonte/Portugol-Relator-Erros/nbproject/private/
/Codigo-Fonte/Portugol-Integracao/dist/
/Codigo-Fonte/Portugol-Integracao/build/
/Codigo-Fonte/Portugol-Integracao/nbproject/private/
/Codigo-Fonte/Portugol-WebService/dist
/Codigo-Fonte/Portugol-WebService/build
/Codigo-Fonte/Portugol-WebService/nbproject/private/
/Codigo-Fonte/Portugol-Studio/dist/
/Codigo-Fonte/Portugol-Studio/build/
/Codigo-Fonte/Portugol-Studio/nbproject/private/
/Projetos/Portugol-Integracao/build/
/Projetos/Portugol-Integracao/dist/
/Projetos/Portugol-Integracao/nbproject/private/
/Projetos/Portugol-Nucleo/build/
/Projetos/Portugol-Nucleo/dist/
/Projetos/Portugol-Nucleo/nbproject/private/
/Projetos/Portugol-Relator-Erros/build/
/Projetos/Portugol-Relator-Erros/dist/
/Projetos/Portugol-Relator-Erros/nbproject/private/
/Projetos/Portugol-Studio/build/
/Projetos/Portugol-Studio/dist/
/Projetos/Portugol-Studio/nbproject/private/
/Projetos/Portugol-WebService/build/
/Projetos/Portugol-WebService/dist/
/Projetos/Portugol-WebService/nbproject/private/