[submodule "Projetos/Portugol-Studio"]
	path = Projetos/Portugol-Studio
	url = git://github.com/UNIVALI-L2S/Portugol-Studio
[submodule "Projetos/Portugol-Corretor"]
	path = Projetos/Portugol-Corretor
	url = git://github.com/UNIVALI-L2S/Portugol-Corretor
